html {
    height: 100%;
    /* overflow: hidden; */
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

body {
    background: #fff;
    min-height: 100vh;
    margin:0;
    padding:0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
    min-height: 600px;
    -webkit-perspective: 1px;
    perspective: 1px;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

blockquote, .blockquote {
    border-left: 5px solid #FFC107;
    padding-left: 1.5rem;
    font-size: 1em;
    word-break: break-word;
}

img {
    max-width: 100%;
}

#error-page {
    min-height: 400px;
}

.block-center {
    margin: auto;
    display: block;
}

.btn-large.circle{
    width: 150px;
    height: 150px;
    line-height: 150px;
    padding: 0;
}

.btn-large.rounded{
    width: 50%;
    height: 100px;
    line-height: 100px;
    padding: 0;
}

.icon-title-mobile {
    display: none;
}

@media only screen and (max-width: 992px) {
    .btn-large.rounded{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .icon-title-mobile {
        display: inline-block;
        color: #FFC107;
        vertical-align: top;
    }
}

.btn.circle,
.btn-large.circle {
    border-radius: 50%;
}

.btn.rounded,
.btn-large.rounded {
    border-radius: 3px;
}

.t {
    display: table;
}

.tr {
    display: table-row;
}

.tc {
    display: table-cell;
}

@media only screen and (min-width : 300px) {
    @keyframes animateArrow {
        0% {
            top: 45%;
        }
        50% {
            top: 70%;
        }
        100% {
            top: 45%;
        }
    }
}

/*** ICONS ***/
.social-links {
    display: table;
}
.social-links li {
    display: table-cell;
}
.icons {
    border: 2px solid #FFC107;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    width: 40px;
}
.twitter {
    background: transparent url('../images/icons/twitter.png') no-repeat center;
    background-size: 80%;
}
.linkedin {
    background: transparent url('../images/icons/linkedin.png') no-repeat center;
    background-size: 80%;
}
.github {
    background: transparent url('../images/icons/github.png') no-repeat center;
    background-size: 80%;
    background-position: 50% 25%;
}
.mail {
    background: transparent url('../images/icons/mail.png') no-repeat center;
    background-size: 80%;
}
.twitter, .linkedin, .github, .mail {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition:all 0.5s ease 0s
}
.twitter:hover, .linkedin:hover, .github:hover, .mail:hover {
    border-style:dotted;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*** END ICONS ***/

/*** NAV ***/
@media only screen and (max-width: 992px) {
    .side-nav {
        left: 0;
    }
    .side-nav li {
        padding: 0;
    }
    nav a.button-collapse {
        color: #bbb;
    }
    nav .side-nav {
        background-color: #242424;
    }
    nav .side-nav a {
        color: #bbb;
    }
    nav .side-nav li:hover, nav .side-nav li.active {
        background-color: rgba(0,0,0,0.3);
    }
}

nav ul a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul a {
    color : #ddd;
}

nav {
    position: relative;
    background-color: #242424;
}

.brand-logo img {
    width: 80%;
    margin-top: 12px;
}
/*** END NAV ***/

/*** CAPTCHA ***/
.g-recaptcha {
    margin: auto;
}
/*** END CAPTCHA ***/

/*** ADMIN BLOC ***/
#admin-bloc-connection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    padding: 5px;
}

#admin-bloc-connection.login_form {
    top: 20%;
}

#admin-bloc-connection.register_form {
    top: 5%;
}

#admin-bloc-connection legend {
    text-align: center;
    font-weight: 300;
    color: #565656;
    margin: 0 auto;
    font-size: 35px;
    line-height: 38px;
    text-transform: none;
    letter-spacing: 0;
    padding: 40px;
}

#admin-bloc-connection .switch label {
    margin: 0 0 0 10px;
}
/*** END ADMIN BLOC ***/

/*** CARDS ***/
.card {
    overflow: hidden;
}

#blog-post-full .card.medium .card-image {
    max-height: 50%;
    overflow: hidden;
}

#blog-post-full .card.medium .card-content {
    max-height: 50%;
    overflow: hidden;
}

#blog-post-full a {
    color: #FFC107;
    font-size: 0.8em;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#blog-post-full .card-image {
    background-color: #1180A5;
}

#blog-post-full .card-title {
    text-shadow: 1px 1px 4px #000;
    font-weight: 300;
    font-size: 1.5rem;
    z-index: 50;
}

#blog-post-full .card-title p {
    word-wrap: break-word;
}

#blog-post-full .card-content p.flow-text {
    border-left: 5px solid #FFC107;
    padding-left: 1.5rem;
    font-size: 1em;
    word-break: break-word;
}

#blog-post-full .blog-post-full-cat {
    padding: 5px;
    margin: 25px;
    right: 0;
    top: 0;
    bottom: inherit;
    left: inherit;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#blog-post-full .blog-post-full-cat a {
    color: #fff;
    text-shadow: none;
}

#blog-post-full .blog-post-full-cat a:hover {
    opacity: 0.8;
    color: #FFC107;
}
/*** END CARDS ***/

/*** HOME ***/
.section.scrollspy {
    height: 775px;
}

.slide {
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    transform-style: inherit;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    z-index: -1;
}

.slide, .slide:before {
    background: 50% 50% / cover;
}

.slide.shadow {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .3), 0px -5px 5px 0px rgba(0, 0, 0, .3);
}

.slide h3 {
    color: #333;
    padding-top: 35px;
    line-height: 27px;
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.slide .section h3.valign {
    padding: 40px 40px 20px 40px;
}

#parallax1 {
    background-image: url('../images/para1.jpg');
    background-attachment: fixed;
}
#parallax1 .scrollspy-arrow {
    position: absolute;
    height: 150px;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 20px;
    right: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
#parallax1 .scrollspy-arrow .arrow {
    position: absolute;
    margin: auto;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    animation: animateArrow 4s linear infinite;
}

#parallax2:before {
    transform: translateZ(-1px) scale(2);
    z-index:-1;
}
#parallax2 {
    background-color: #F2F1EF;
}
#parallax2 #competences ul {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1200;
}
#parallax2 #competences .skill {
    margin-top: 20px;
}
#parallax2 #competences ul li {
    background: none;
    padding: 0;
}
#parallax2 #competences div .skill:first-child {
    margin-top: 0px;
}
#parallax2 #competences .skill_name strong {
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-size: 14px;
    color: #333;
}
#parallax2 #competences .skill .skill_bar {
    background: #ffffff;
    height: 30px;
    width: 100%;
    position: relative;
}
#parallax2 #competences .skill .skill_bar {
    background: #1a1a1a;
}
#parallax2 #competences .skill .skill_bar .skill_active {
    background: #ffc500;
    height: 100%;
    width: 0%;
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;
}
#parallax2 #competences .skill .skill_bar span {
    color: #ffffff;
    position: absolute;
    top: 2px;
    left: 10px;
    line-height: 25px;
}
#parallax2 #competences .skill .skill_bar span {
    color: #ffffff;
}
#parallax2 #competences img.responsive-img {
    position: absolute;
    bottom: 0;
    filter: grayscale(0.6);
    left: -30%;
    z-index: 1000;
    transition: left ease 1s;
}
#parallax2 .scrollspy-arrow {
    position: absolute;
    z-index: 9999;
    height: 150px;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 20px;
    right: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
#parallax2 .scrollspy-arrow .arrow {
    position: absolute;
    color: #FFC107;
    margin: auto;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    animation: animateArrow 4s linear infinite;
}

#parallax3 {
    position: inherit;
    background-image: url('../images/bg5.jpg');
    background-attachment: fixed;
    color: #000;
}
@media only screen and (max-width: 600px) {
    #parallax2 .scrollspy-arrow .arrow {
        color: #1A1A1A;
    }
    #parallax3 {
        overflow-y: auto;
    }
    #parallax3.slide h3 {
        color: #fff;
    }
}

.opacity-box {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    min-height: 400px;
}

.opacity-box .header {
    font-size: 10vw;
    line-height: 100%;
    font-weight: lighter;
    color: #FFF;
}

.opacity-box h5.light {
    line-height: 2.5rem;
    font-weight: 800;
}

.opacity-box h5.light .lighter {
    font-weight: 100;
}

.opacity-box h5.light span {
    font-weight: 300;
    color: #FFC107;
}

.opacity-box .user-infos p {
    display: none;
}

.opacity-box .user-infos > i {
    padding: 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff inset;
    -webkit-box-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff inset;
    box-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff inset;
}

#user-infos {
    margin: 40px 0;
}

@media only screen and (max-width: 600px) {
    .opacity-box .user-infos i {
        margin: 10px 0;
    }
    #user-infos {
        margin: 10px 0;
    }
    #user-infos .block-user {
        margin: 5px 0;
    }
    .opacity-box a.user-infos {
        color: #fff;
        position: relative;
        display: inline-block;
        z-index: 9999;
        width: 200px;
        height: 80px;
    }
    .opacity-box .user-infos p {
        display: block;
        vertical-align: super;
        text-align: center;
        margin: 0;
    }
    .material-tooltip {
        display: none !important;
    }
    #parallax2 #competences .skill_name strong {
        font-size: 12px;
    }
    #competences img {
        display: none;
    }
}

.opacity-box a.user-infos {
    color: #fff;
}

.opacity-box a.user-infos:hover {
    color: #FFC107;
}

/*** END HOME ***/

/*** Footer ***/
footer.page-footer .footer-copyright {
    background-color: rgba(51, 51, 51, 0.2);
}
footer.page-footer {
    margin-top: 0;
}
footer.page-footer h5 {
    font-family: 'PT Sans';
}
footer.page-footer .friend-links a {
    color: rgba(255, 255, 255, 0.3);
    transition: color ease-in-out .6s;
}
footer.page-footer .friend-links a:hover {
    color: rgba(255, 255, 255, 0.9);
}
footer.page-footer .avatar {
    margin: 25% 0;
    width: 100px;
    max-width: 100px;
    transition: all 0.25s ease 0s;
}
footer.page-footer .avatar img {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50px;
    border: 5px solid rgba(255,255,255,0.15);
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
footer.page-footer p {
    text-align: justify;
    word-break: break-all;
}
/*** End Footer ***/


/*** FLIP BUTTON ***/
.cube {
    width: 250px;
    height: 100px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* The two faces of the cube */
.default-state,
.active-state {
    height: 100px;
}
/* Position the faces */
.default-state {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    transform: translateZ(50px);
}
.flip-to-top .active-state {
    -webkit-transform: rotateX(90deg) translateZ(150px);
    -moz-transform: rotateX(90deg) translateZ(150px);
    -o-transform: rotateX(90deg) translateZ(150px);
    -ms-transform: rotateX(90deg) translateZ(150px);
    transform: rotateX(90deg) translateZ(150px);
}
.flip-to-bottom .active-state {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    -moz-transform: rotateX(-90deg) translateZ(-50px);
    -o-transform: rotateX(-90deg) translateZ(-50px);
    -ms-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
}
/* Rotate the cube */
.cube.flip-to-top:hover {
    -webkit-transform: rotateX(-89deg);
    -moz-transform: rotateX(-89deg);
    -o-transform: rotateX(-89deg);
    -ms-transform: rotateX(-89deg);
    transform: rotateX(-89deg);
}
.cube.flip-to-bottom:hover {
    -webkit-transform: rotateX(89deg);
    -moz-transform: rotateX(89deg);
    -o-transform: rotateX(89deg);
    -ms-transform: rotateX(89deg);
    transform: rotateX(89deg);
}
/* END CORE CSS */
.cube {
    text-align: center;
    margin: 0 auto;
}
.default-state,
.active-state {
    background: #FFC107;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    line-height: 100px;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease;
}
.cube:hover .default-state {
    background: #212121;
}
.active-state {
    background: #212121;
}
#flipto {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: #ccc;
}
/*** END FLIP BUTTON ***/