html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  min-height: 600px;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

blockquote {
  border-left: 5px solid #FFC107;
}

.block-center {
  margin: auto;
  display: block;
}

.parallax-container {
  min-height: 380px;
  width: 100%;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

/*** NAV ***/
nav ul a {
  color : #212121;
}
/*** END NAV ***/

/*** ADMIN BLOC ***/
#admin-bloc-connection {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  padding: 5px;
}

#admin-bloc-connection.login_form {
  top: 20%;
}

#admin-bloc-connection.register_form {
  top: 5%;
}

#admin-bloc-connection legend {
  text-align: center;
  font-weight: 300;
  color: #565656;
  margin: 0 auto;
  font-size: 35px;
  line-height: 38px;
  text-transform: none;
  letter-spacing: 0;
  padding: 40px;
}

#admin-bloc-connection .switch label {
  margin: 0 0 0 10px;
}
/*** END ADMIN BLOC ***/

/*** CARDS ***/
.card {
  overflow: hidden;
}

#blog-post-full .card-image {
  background-color: #1180A5;
}

#blog-post-full .card-title {
  text-shadow: 1px 1px 4px #000;
  font-weight: 300;
  font-size: 2rem;
  z-index: 50;
}

#blog-post-full .blog-post-full-cat {
  padding: 5px;
  margin: 25px;
  right: 0;
  top: 0;
  bottom: inherit;
  left: inherit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#blog-post-full .blog-post-full-cat a {
  color: #fff;
  text-shadow: none;
}

#blog-post-full .blog-post-full-cat a:hover {
  opacity: 0.8;
  color: #FFC107;
}
/*** END CARDS ***/


/*** Footer ***/
footer.page-footer .footer-copyright {
  background-color: rgba(51, 51, 51, 0.2);
}
/*** End Footer ***/